In [3]:
# DART 전자공시 시스템 api로 고유번호 가져오기 (ZIP파일 형식)
import requests as rq
from io import BytesIO
import zipfile 
api_key = '9c0a383a2a887401d8de6953940e99d2f87caa3a'
codezip_url = f'''https://opendart.fss.or.kr/api/corpCode.xml?crtfc_key={api_key}'''
codezip_data = rq.get(codezip_url)
# codezip_data.headers

# codezip_data.headers['Content-Disposition']

codezip_file = zipfile.ZipFile(BytesIO(codezip_data.content))
codezip_file.namelist()

code_data = codezip_file.read('CORPCODE.xml').decode('utf-8')

import xmltodict
import json 
import pandas as pd

data_odict = xmltodict.parse(code_data)
data_dict = json.loads(json.dumps(data_odict))
data = data_dict.get('result').get('list')
corp_list = pd.DataFrame(data)
corp_list.head()

  corp_code          corp_name stock_code modify_date
0  00434003                 다코       None    20170630
1  00434456               일산약품       None    20170630
2  00430964              굿앤엘에스       None    20170630
3  00432403               한라판지       None    20170630
4  00388953  크레디피아제이십오차유동화전문회사       None    20170630

In [4]:
corp_list = corp_list[~corp_list.stock_code.isin([None])].reset_index(drop=True) # 비상장 종목 제거 
corp_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   corp_code    3585 non-null   object
 1   corp_name    3585 non-null   object
 2   stock_code   3585 non-null   object
 3   modify_date  3585 non-null   object
dtypes: object(4)
memory usage: 112.2+ KB

In [3]:
corp_list.head()

  corp_code corp_name stock_code modify_date
0  00260985      한빛네트     036720    20170630
1  00264529      엔플렉스     040130    20170630
2  00358545    동서정보기술     055000    20170630
3  00231567     애드모바일     032600    20170630
4  00247939       씨모스     037600    20170630

In [4]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:1234@192.168.0.39:5432/postgres')
corp_list.to_sql('corp_list', engine, if_exists='append', index=False)

585

In [5]:
import psycopg2

# PostgreSQL 연결 정보 설정
db_host = '192.168.0.39'  # 데이터베이스 호스트
db_port = '5432'  # 데이터베이스 포트
db_name = 'postgres'  # 데이터베이스 이름
db_user = 'postgres'  # 데이터베이스 사용자 이름
db_password = '1234'  # 데이터베이스 비밀번호

# PostgreSQL에 연결
conn = psycopg2.connect(
    host=db_host,
    port=db_port,
    database=db_name,
    user=db_user,
    password=db_password
)

# 테이블 생성 쿼리
create_table_query = """
    CREATE TABLE corp_list (
        corp_code INTEGER,
        corp_name VARCHAR(30),
        stock_code INTEGER,
        modify_date INTEGER
    )
"""

# 커서 생성 및 테이블 생성 쿼리 실행
cur = conn.cursor()
cur.execute(create_table_query)

# 변경사항 커밋
conn.commit()

# 연결 해제
cur.close()
conn.close()

DuplicateTable: 오류:  "corp_list" 이름의 릴레이션(relation)이 이미 있습니다

In [29]:
# DART 재무재표 가져오기 
from tqdm import tqdm
import warnings
# 경고 메시지 무시 설정
warnings.filterwarnings('ignore')
# tmp_df = pd.DataFrame()
def get_fss_data(api_key, corp_code, bsns_year, reprt_code):
    for i in tqdm(corp_code):
        for j in bsns_year:
            for z in reprt_code:
                fss_url = f'https://opendart.fss.or.kr/api/fnlttSinglAcntAll.json?crtfc_key={api_key}&corp_code={i}&bsns_year={j}&reprt_code={z}&fs_div=OFS'
                fss_data = rq.get(fss_url,verify=False)
                fss_data_tmp = fss_data.json().get('list')
                tmp_df = tmp_df.append(fss_data_tmp)
    return tmp_df

In [23]:
corp_code = corp_list.corp_code.to_list()
bsns_year = ['2019','2020','2021','2022','2023']
reprt_code = ['11013','11012','11014','11011']

In [31]:
fss_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4094 entries, 0 to 123
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rcept_no           4094 non-null   object
 1   reprt_code         4094 non-null   object
 2   bsns_year          4094 non-null   object
 3   corp_code          4094 non-null   object
 4   sj_div             4094 non-null   object
 5   sj_nm              4094 non-null   object
 6   account_id         4094 non-null   object
 7   account_nm         4094 non-null   object
 8   account_detail     4094 non-null   object
 9   thstrm_nm          4094 non-null   object
 10  thstrm_amount      4094 non-null   object
 11  frmtrm_nm          1949 non-null   object
 12  frmtrm_amount      1949 non-null   object
 13  ord                4094 non-null   object
 14  currency           4094 non-null   object
 15  thstrm_add_amount  680 non-null    object
 16  frmtrm_q_nm        2145 non-null   object
 17  frmtrm_q_amount    2076 non-null   object
 18  frmtrm_add_amount  513 non-null    object
 19  bfefrmtrm_nm       1035 non-null   object
 20  bfefrmtrm_amount   1035 non-null   object
dtypes: object(21)
memory usage: 703.7+ KB

In [30]:
fss_data = get_fss_data(api_key,corp_code[569:],bsns_year,reprt_code)
# test_fss_data = get_fss_data(api_key,corp_code[2005:2008],bsns_year,reprt_code)

 16%|█▌        | 570/3585 [30:10<2:39:33,  3.18s/it]

ConnectionError: ('Connection aborted.', FileNotFoundError(2, 'No such file or directory'))

In [94]:
fss_data

,rcept_no,reprt_code,bsns_year,corp_code,sj_div,sj_nm,account_id,account_nm,account_detail,thstrm_nm,...,frmtrm_nm,frmtrm_amount,ord,currency,thstrm_add_amount,frmtrm_q_nm,frmtrm_q_amount,frmtrm_add_amount,bfefrmtrm_nm,bfefrmtrm_amount
0,20190515001845,11013,2019,00153278,BS,재무상태표,ifrs_CurrentAssets,유동자산,-,제 33 기 1분기말,...,제 32 기말,66316385583,1,KRW,NaN,NaN,NaN,NaN,NaN,NaN
1,20190515001845,11013,2019,00153278,BS,재무상태표,ifrs_CashAndCashEquivalents,현금및현금성자산,-,제 33 기 1분기말,...,제 32 기말,523569522,2,KRW,NaN,NaN,NaN,NaN,NaN,NaN
2,20190515001845,11013,2019,00153278,BS,재무상태표,dart_ShortTermDepositsNotClassifiedAsCashEquiv...,단기금융상품,-,제 33 기 1분기말,...,제 32 기말,0,3,KRW,NaN,NaN,NaN,NaN,NaN,NaN
3,20190515001845,11013,2019,00153278,BS,재무상태표,ifrs_TradeAndOtherCurrentReceivables,매출채권 및 기타유동채권,-,제 33 기 1분기말,...,제 32 기말,38125084945,4,KRW,NaN,NaN,NaN,NaN,NaN,NaN
4,20190515001845,11013,2019,00153278,BS,재무상태표,ifrs_Inventories,재고자산,-,제 33 기 1분기말,...,제 32 기말,1636870734,5,KRW,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,20230515002791,11013,2023,00187725,SCE,자본변동표,ifrs-full_Equity,기말자본,별도재무제표 [member],제 44 기 1분기,...,NaN,NaN,8,KRW,NaN,제 43 기 1분기,120442589180,NaN,NaN,NaN
168,20230515002791,11013,2023,00187725,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|기타불입자본,제 44 기 1분기,...,NaN,NaN,8,KRW,NaN,제 43 기 1분기,15932065787,NaN,NaN,NaN
169,20230515002791,11013,2023,00187725,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|기타자본구성요소 [member],제 44 기 1분기,...,NaN,NaN,8,KRW,NaN,제 43 기 1분기,0,NaN,NaN,NaN
170,20230515002791,11013,2023,00187725,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|이익잉여금 [member],제 44 기 1분기,...,NaN,NaN,8,KRW,NaN,제 43 기 1분기,95745273393,NaN,NaN,NaN
171,20230515002791,11013,2023,00187725,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|자본금 [member],제 44 기 1분기,...,NaN,NaN,8,KRW,NaN,제 43 기 1분기,8765250000,NaN,NaN,NaN

In [21]:
# test 
corp_code = '00126380'
bsns_year = '2021'
reprt_code = '11011'
fss_url = f'https://opendart.fss.or.kr/api/fnlttSinglAcntAll.json?crtfc_key={api_key}&corp_code={corp_code}&bsns_year={bsns_year}&reprt_code={reprt_code}&fs_div=OFS'
tmp_df = pd.DataFrame()
fss_data = rq.get(fss_url)
fss_data_tmp = fss_data.json().get('list')
# fss_data_tmp = pd.DataFrame(fss_data_tmp)
tmp_df.append(fss_data_tmp)

C:\Users\ddmro\AppData\Local\Temp\ipykernel_9716\1224084342.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tmp_df.append(fss_data_tmp)

,rcept_no,reprt_code,bsns_year,corp_code,sj_div,sj_nm,account_id,account_nm,account_detail,thstrm_nm,thstrm_amount,frmtrm_nm,frmtrm_amount,bfefrmtrm_nm,bfefrmtrm_amount,ord,currency,thstrm_add_amount
0,20220308000798,11011,2021,00126380,BS,재무상태표,ifrs-full_CurrentAssets,유동자산,-,제 53 기,73553416000000,제 52 기,73798549000000,제 51 기,72659080000000,1,KRW,NaN
1,20220308000798,11011,2021,00126380,BS,재무상태표,ifrs-full_CashAndCashEquivalents,현금및현금성자산,-,제 53 기,3918872000000,제 52 기,989045000000,제 51 기,2081917000000,2,KRW,NaN
2,20220308000798,11011,2021,00126380,BS,재무상태표,dart_ShortTermDepositsNotClassifiedAsCashEquiv...,단기금융상품,-,제 53 기,15000576000000,제 52 기,29101284000000,제 51 기,26501392000000,3,KRW,NaN
3,20220308000798,11011,2021,00126380,BS,재무상태표,dart_ShortTermTradeReceivable,매출채권,-,제 53 기,33088247000000,제 52 기,24736740000000,제 51 기,26255438000000,4,KRW,NaN
4,20220308000798,11011,2021,00126380,BS,재무상태표,dart_ShortTermOtherReceivables,미수금,-,제 53 기,1832488000000,제 52 기,1898583000000,제 51 기,2406795000000,5,KRW,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,20220308000798,11011,2021,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,별도재무제표 [member],제 53 기,193193732000000,제 52 기,183316724000000,제 51 기,177870247000000,6,KRW,NaN
112,20220308000798,11011,2021,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|기타자본항목,제 53 기,-882010000000,제 52 기,-268785000000,제 51 기,280514000000,6,KRW,NaN
113,20220308000798,11011,2021,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|이익잉여금 [member],제 53 기,188774335000000,제 52 기,178284102000000,제 51 기,172288326000000,6,KRW,NaN
114,20220308000798,11011,2021,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|자본금 [member],제 53 기,897514000000,제 52 기,897514000000,제 51 기,897514000000,6,KRW,NaN
115,20220308000798,11011,2021,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|주식발행초과금,제 53 기,4403893000000,제 52 기,4403893000000,제 51 기,4403893000000,6,KRW,NaN

In [16]:
tmp_df

Empty DataFrame
Columns: []
Index: []

In [ ]:
fss_data_tmp.account_nm.value_counts()

In [35]:
# 에에이 ㅈ까따
ticker_list = corp_list.stock_code

In [36]:
ticker_list = list(map(int, ticker_list))

In [40]:
pip install html5lib

Requirement already satisfied: html5lib in c:\users\ddmro\appdata\local\programs\python\python310\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\ddmro\appdata\local\programs\python\python310\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\ddmro\appdata\local\programs\python\python310\lib\site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\ddmro\appdata\local\programs\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\ddmro\appdata\local\programs\python\python310\lib\site-packages)

In [30]:
corp_list[corp_list['corp_name'] == '삼성전자']

     corp_code corp_name stock_code modify_date
2829  00126380      삼성전자     005930    20230110

In [60]:
ticker_list[1000]

190650

In [55]:
url = f'https://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{ticker_list[1000]}'
data = pd.read_html(url)

In [57]:
print(pd.DataFrame(data[0]).columns.tolist()) # 연간기준 포괄손익계산서 (전년동기, 전년동기% (필요없는부분))
print(pd.DataFrame(data[2]).columns.tolist()) # 연간 기준 재무상태표
print(pd.DataFrame(data[4]).columns.tolist()) # 연간 기준 현금흐름표

['IFRS(개별)', '2020/03', '2021/03', '2022/03', '2022/12', '전년동기', '전년동기(%)']
['IFRS(개별)', '2020/03', '2021/03', '2022/03', '2022/12']
['IFRS(개별)', '2020/03', '2021/03', '2022/03', '2022/12']

In [58]:
data[0].iloc[:,~data[0].columns.str.contains('전년동기')] # 전년동기 부분 제외

               IFRS(개별)  2020/03  2021/03  2022/03  2022/12
0                 순이자손익      6.0     27.0     -1.0     18.0
1                순수수료손익    410.0    515.0    604.0    335.0
2              금융상품관련손익    179.0    182.0    266.0    -20.0
3        위험회피회계파생상품관련손익    -35.0     12.0      4.0     46.0
4          외환거래(환율변동)손익      1.0     -2.0      0.0     -0.0
5              금융자산관련손익     -0.0     -6.0     -2.0      2.0
6                기타영업손익     -2.0     -1.0      4.0     -0.0
7                 순영업수익    560.0    726.0    876.0    380.0
8               판매비와관리비    465.0    563.0    661.0    391.0
9                  영업이익     94.0    163.0    215.0    -11.0
10  영업외수익계산에 참여한 계정 펼치기      1.0      3.0     16.0      2.0
11  영업외비용계산에 참여한 계정 펼치기      4.0      2.0      3.0      6.0
12             세전계속사업이익     91.0    163.0    229.0    -14.0
13                법인세비용     27.0     47.0     62.0      4.0
14               계속영업이익     65.0    116.0    167.0    -19.0
15               중단영업이익      NaN      NaN      NaN      NaN
16                당기순이익     65.0    116.0    167.0    -19.0

In [59]:
data_fs_y = pd.concat([data[0].iloc[:,~data[0].columns.str.contains('전년동기')],data[2],data[4]])
data_fs_y

           IFRS(개별)  2020/03  2021/03  2022/03  2022/12
0             순이자손익      6.0     27.0     -1.0     18.0
1            순수수료손익    410.0    515.0    604.0    335.0
2          금융상품관련손익    179.0    182.0    266.0    -20.0
3    위험회피회계파생상품관련손익    -35.0     12.0      4.0     46.0
4      외환거래(환율변동)손익      1.0     -2.0      0.0     -0.0
..              ...      ...      ...      ...      ...
17  연결범위변동으로인한현금의증가      NaN      NaN      NaN      NaN
18           환율변동효과      1.0      NaN      NaN      NaN
19      현금및현금성자산의증가     60.0     77.0     77.0   -303.0
20       기초현금및현금성자산    325.0    385.0    462.0    539.0
21       기말현금및현금성자산    385.0    462.0    539.0    236.0

[88 rows x 5 columns]

In [65]:
corp_list.stock_code

0       036720
1       040130
2       055000
3       032600
4       037600
         ...
3580    054620
3581    238500
3582    154040
3583    215790
3584    424980
Name: stock_code, Length: 3585, dtype: object

In [66]:
corp_list

     corp_code      corp_name stock_code modify_date
0     00260985           한빛네트     036720    20170630
1     00264529           엔플렉스     040130    20170630
2     00358545         동서정보기술     055000    20170630
3     00231567          애드모바일     032600    20170630
4     00247939            씨모스     037600    20170630
...        ...            ...        ...         ...
3580  00296078            APS     054620    20230426
3581  01118643  로보쓰리에이아이앤로보틱스     238500    20230426
3582  00624518         다산솔루에타     154040    20230426
3583  01065679         알비케이그룹     215790    20230426
3584  00624378        마이크로투나노     424980    20230426

[3585 rows x 4 columns]

In [68]:
# get ticker
from pykrx import stock
from pykrx import bond
tickers = stock.get_market_ticker_list("20190225", market="KOSDAQ")
print(tickers)

['060310', '054620', '265520', '211270', '035760', '051500', '058820', '023460', '065770', '083660', '306620', '068790', '241520', '245620', '037370', '079190', '130500', '032860', '900290', '083450', '028150', '045890', '078150', '036640', '299170', '254120', '264850', '276920', '297570', '095340', '099520', '950170', '067290', '035900', '024120', '021320', '036670', '044180', '151860', '046440', '035600', '060720', '083470', '122450', '052900', '058400', '114450', '036030', '060370', '065150', '219550', '160550', '053290', '104200', '060250', '030190', '024940', '218410', '091340', '019550', '950110', '046140', '036120', '099220', '036540', '255220', '040610', '049470', '184230', '232330', '307070', '057500', '178920', '036490', '052260', '048550', '063440', '289080', '089230', '161570', '032540', '048770', '038340', '073570', '052300', '040300', '051390', '052220', '079940', '078890', '192410', '024840', '217730', '094480', '063080', '039240', '053950', '011040', '024910', '198440', '049720', '014570', '098460', '038530', '307870', '900280', '215000', '121440', '014200', '026910', '090150', '267320', '307280', '053270', '066620', '043650', '006050', '060480', '078130', '019010', '900070', '204620', '019660', '053260', '036190', '049080', '035460', '187790', '151910', '121600', '039860', '091970', '051490', '190510', '242040', '089600', '293580', '138610', '130580', '036800', '111710', '091590', '168330', '072770', '253590', '212560', '095660', '042420', '085910', '092730', '290660', '153460', '007390', '033640', '087730', '089140', '065170', '139670', '137940', '041140', '217270', '225570', '104620', '194700', '285490', '144510', '031390', '142280', '065560', '054050', '040160', '069140', '126870', '060260', '012340', '270870', '222040', '144960', '900100', '085670', '119860', '064260', '093640', '039560', '032190', '068240', '020400', '008830', '048470', '004780', '017650', '007720', '290670', '078140', '036480', '025440', '027830', '104040', '262830', '303030', '307750', '020180', '045390', '108380', '006580', '007680', '048910', '005710', '290380', '290120', '071460', '120240', '003310', '078600', '065690', '096350', '140520', '131220', '010170', '054670', '023910', '021040', '021045', '067080', '192080', '035290', '213420', '077360', '090410', '263600', '194480', '263800', '139050', '017680', '206560', '067990', '006620', '100130', '005160', '075970', '086450', '099410', '281740', '033500', '025950', '088130', '041930', '060380', '079960', '228340', '104460', '088910', '094170', '013120', '109860', '032960', '023790', '005290', '025900', '078590', '073190', '030350', '203650', '217620', '187870', '066670', '110990', '263690', '214680', '263720', '109740', '033430', '090710', '131030', '196490', '066900', '127120', '092070', '101000', '134580', '039840', '079810', '227100', '113810', '043360', '197140', '106520', '068930', '033130', '033310', '105740', '263020', '290550', '187220', '131180', '042510', '050120', '171120', '069540', '171010', '084650', '217500', '141080', '060300', '038390', '228850', '238120', '215100', '090360', '108490', '900260', '067730', '071280', '038060', '082800', '085370', '08537M', '060240', '058470', '039980', '016100', '197210', '012700', '131100', '277070', '042500', '219420', '098120', '227950', '147760', '035480', '038290', '267980', '005990', '127160', '093520', '141070', '100590', '067280', '072870', '215200', '133750', '041920', '086900', '078160', '065650', '021880', '140410', '241770', '059210', '058110', '096640', '257370', '149940', '080420', '080160', '100030', '087260', '101330', '250060', '033200', '118990', '006920', '001810', '028040', '095500', '218150', '265480', '310200', '239340', '049950', '213090', '207760', '059090', '201490', '214180', '206640', '018700', '035620', '064520', '029480', '053030', '084990', '064550', '208710', '142760', '065940', '086820', '038460', '044480', '086040', '032980', '043150', '267790', '046310', '036620', '066410', '177350', '299910', '225530', '250000', '014100', '006910', '226340', '014470', '008470', '100120', '066980', '064480', '251630', '033560', '121800', '148140', '200780', '141000', '090460', '083650', '086670', '138580', '082920', '054220', '042370', '032850', '238200', '093190', '065450', '072950', '143240', '100090', '122350', '014970', '018310', '053700', '009620', '023600', '111870', '309930', '291230', '009300', '225190', '054540', '065570', '082660', '073640', '032280', '002290', '037460', '032750', '054090', '000250', '024950', '038500', '017480', '046390', '027580', '038540', '091580', '263810', '089980', '042940', '042600', '263540', '038070', '006730', '079650', '100660', '012860', '019770', '043710', '046890', '063170', '027040', '018680', '093920', '189860', '178320', '122690', '140070', '011370', '065710', '035890', '003100', '123420', '171090', '014620', '037350', '081580', '045300', '015750', '080470', '043260', '053060', '017510', '214310', '011560', '100700', '234100', '024830', '258830', '036630', '039310', '067770', '053450', '252500', '049180', '299660', '268600', '108860', '208370', '068760', '091990', '053110', '032680', '032685', '066910', '043100', '154040', '035610', '036830', '230980', '086980', '050960', '084180', '058530', '236200', '094840', '192440', '099440', '033790', '159910', '115570', '253450', '008800', '013810', '049830', '020710', '033170', '048870', '025320', '269620', '131090', '001000', '025870', '215600', '065350', '056000', '002800', '307180', '017000', '012790', '138070', '257730', '277480', '056700', '187270', '243840', '108320', '222800', '036710', '160980', '217330', '010280', '122800', '208640', '222420', '037760', '136510', '099320', '049960', '050890', '066790', '222080', '264660', '115530', '225330', '115480', '096530', '900120', '101240', '047920', '060590', '036170', '260930', '013990', '123860', '025980', '058220', '052710', '074430', '092040', '083930', '149950', '036010', '050860', '246720', '067390', '127710', '154030', '227610', '143160', '054800', '060570', '099190', '214430', '040910', '068940', '052860', '069920', '038880', '101390', '226350', '078860', '114810', '031310', '185490', '059100', '175250', '052460', '119830', '124500', '027360', '032080', '013310', '059120', '023890', '067160', '001540', '053800', '065660', '260660', '131370', '140670', '096610', '061040', '148250', '196170', '123750', '085810', '117670', '196300', '205500', '052790', '131400', '290740', '238090', '092600', '174900', '255440', '030960', '102120', '041590', '019990', '041440', '038680', '217480', '121890', '030270', '097780', '073070', '042110', '065420', '103230', '900080', '101490', '095910', '275630', '031330', '060540', '112240', '056190', '080000', '160600', '263920', '041510', '007820', '109610', '080440', '096630', '069510', '041910', '234300', '039440', '098660', '052020', '237690', '050760', '288620', '058610', '043340', '054630', '200710', '298380', '003800', '088800', '138360', '039230', '050320', '072990', '176440', '028300', '067630', '043220', '239610', '044780', '033600', '071670', '045660', '224110', '021080', '089530', '182400', '109960', '089970', '214870', '230240', '064510', '230360', '038870', '128540', '086520', '038110', '073540', '064090', '036810', '173940', '083500', '065160', '054940', '950130', '205100', '092870', '067570', '101400', '217820', '031860', '256630', '256840', '273060', '310840', '208860', '183490', '206400', '069410', '048830', '096870', '061970', '138690', '290650', '066970', '156100', '073110', '083310', '037950', '170920', '058630', '019590', '097520', '179290', '009780', '123040', '032790', '033160', '204020', '259630', '115960', '090740', '007530', '143540', '036180', '036560', '265560', '036000', '053280', '122640', '900300', '045060', '080520', '039830', '046120', '014940', '065500', '010470', '053980', '052420', '241790', '039200', '226400', '031510', '048260', '138080', '080580', '067170', '173130', '049480', '226950', '057540', '057680', '123010', '082210', '109080', '153710', '052770', '057030', '122990', '232140', '067900', '155650', '251370', '066430', '193250', '019210', '122870', '079000', '114630', '032820', '041190', '115440', '046970', '215360', '072470', '073560', '153490', '082850', '037400', '101170', '066590', '046940', '215380', '065680', '018620', '032940', '240810', '074600', '104830', '014190', '030530', '012620', '008370', '008290', '101160', '095270', '065950', '114190', '076080', '196700', '069080', '053580', '044340', '112040', '038620', '299900', '036090', '136540', '097800', '192390', '900340', '036200', '018000', '203450', '011320', '086390', '241690', '142210', '048430', '206650', '089850', '032620', '264450', '078070', '024800', '054930', '069330', '049520', '287410', '056090', '263770', '195990', '023410', '056080', '084370', '178780', '179900', '263050', '191410', '039020', '060230', '067920', '044960', '302430', '073490', '215790', '246960', '088390', '272290', '053350', '258610', '033110', '041520', '054210', '065440', '036260', '115610', '078020', '080010', '086890', '047560', '900110', '067010', '223310', '052190', '226360', '102710', '094190', '063760', '123570', '095190', '091120', '039030', '088290', '181340', '035810', '090850', '092130', '016250', '096040', '134060', '001840', '024810', '041830', '079950', '277410', '060150', '033230', '037330', '083640', '216050', '049070', '119610', '158310', '017250', '108790', '035080', '051370', '064290', '189300', '150840', '048530', '175140', '115310', '039290', '041020', '071200', '101930', '078940', '068330', '058450', '019540', '094820', '950140', '049550', '043910', '234920', '174880', '049630', '110020', '065530', '208140', '022220', '040420', '045510', '065620', '217190', '095700', '072520', '122310', '187420', '123330', '159580', '147830', '033100', '019570', '079370', '054950', '096690', '090470', '137950', '033320', '026040', '126880', '033050', '094970', '058420', '036420', '089790', '052670', '023440', '038010', '080220', '082270', '044060', '034940', '101730', '067000', '033340', '036930', '051980', '072020', '000440', '054180', '043610', '263860', '208350', '114570', '051160', '053050', '119850', '065060', '204840', '018290', '111820', '106080', '115450', '219750', '018120', '109820', '086060', '036890', '007370', '085660', '900040', '094850', '004650', '278280', '096240', '013720', '066360', '047820', '094360', '016920', '042000', '071850', '180400', '050110', '900310', '078340', '263700', '214370', '221980', '043290', '250930', '258790', '192250', '115500', '089150', '025880', '093320', '073010', '105330', '039420', '083550', '032500', '225430', '064820', '256940', '024880', '042040', '054410', '217600', '089010', '220260', '052400', '094860', '046070', '047770', '080530', '224060', '078650', '104540', '027050', '101670', '123410', '036690', '049430', '183300', '041960', '089890', '009730', '241710', '069110', '166480', '045970', '029960', '102940', '950160', '033290', '056360', '121850', '015710', '052330', '126600', '200130', '225650', '060280', '040350', '051780', '115180', '182360', '066310', '016600', '043590', '114120', '110790', '083790', '900250', '045520', '214150', '237880', '311270', '054780', '219130', '065130', '023160', '053620', '044490', '191420', '182690', '066700', '095610', '131970', '089030', '054450', '091440', '196450', '200230', '215480', '051360', '045340', '057880', '108230', '079970', '105550', '026150', '117730', '033830', '064760', '246710', '131290', '246690', '062860', '104480', '081150', '130740', '084730', '046210', '034230', '033540', '043200', '214450', '208340', '177830', '037070', '150900', '037030', '047310', '170790', '049120', '038950', '106240', '131760', '140860', '091700', '194510', '038160', '032800', '043090', '027710', '225590', '054300', '068050', '222110', '060900', '263750', '087010', '043370', '119500', '016670', '056730', '022100', '009520', '003670', '189690', '141020', '290720', '005670', '094940', '007330', '093380', '023900', '195440', '214270', '220100', '035200', '203690', '053610', '053160', '075130', '023770', '032580', '051380', '241820', '237750', '131390', '054340', '024850', '031980', '002230', '137400', '128660', '006140', '087600', '064800', '161580', '270520', '284620', '261200', '067310', '307160', '166090', '136480', '003380', '149980', '013030', '126700', '200470', '221840', '106190', '066130', '004590', '039340', '034950', '222980', '025550', '017890', '080720', '063570', '041460', '101680', '039740', '053300', '025770', '271740', '281410', '291210', '310870', '023760', '054040', '050540', '021650', '053590', '037230', '030520', '052600', '092460', '222810', '039670', '047080', '070300', '221610', '070590', '226440', '042520', '078350', '045100', '046110', '024740', '005860', '123840', '007770', '079170', '086960', '054920', '215090', '077280', '002680', '066110', '265920', '264290', '279410', '102210', '220630', '034810', '076610', '220180', '900270', '170030', '048410', '016790', '026180', '039010', '204990', '092300', '053660', '011080', '060560', '064240', '039610', '126640', '086250', '204630', '061250', '134780', '123260', '097870', '050090', '290270', '205470', '115160', '028080', '200670', '065510', '243070', '084110', '145020', '024060', '010240', '189980', '037440', '238490']

In [115]:
from pykrx import stock

mon = ['20230101','20230201','20230301','20230401','20230501']
market = ['KOSDAQ','KOSPI']
from itertools import chain

def get_ticker(mon,market):
    tmp_lis = []
    for i in mon:
        for j in market:
            tmp_lis.append(stock.get_market_ticker_list(i,market=j))
    print(len(tmp_lis))
    tmp_lis_ = list(chain(*tmp_lis)) # 다차원 리스트 한개의 차원으로 잇기 
    print(f'duplicated ticker length :{len(tmp_lis_)}')
    tmp_lis_ = list(set(tmp_lis_)) # 중복값 제거 
    print(f'drop duplicated ticker length :{len(tmp_lis_)}')
    return tmp_lis_

In [114]:
ticker = get_ticker(mon,market)

10
duplicated ticker length :12852
drop duplicated ticker length :2598

In [117]:
ticker =pd.DataFrame(ticker, columns = ['ticker'])

In [122]:
from sqlalchemy import create_engine

import psycopg2

# PostgreSQL 연결 정보 설정
db_host = '192.168.0.39'  # 데이터베이스 호스트
db_port = '5432'  # 데이터베이스 포트
db_name = 'postgres'  # 데이터베이스 이름
db_user = 'postgres'  # 데이터베이스 사용자 이름
db_password = '1234'  # 데이터베이스 비밀번호

# PostgreSQL에 연결
conn = psycopg2.connect(
    host=db_host,
    port=db_port,
    database=db_name,
    user=db_user,
    password=db_password
)

# 테이블 생성 쿼리
create_table_query = """
    CREATE TABLE ticker (
        ticker VARCHAR(30)
    )
"""

# 커서 생성 및 테이블 생성 쿼리 실행
cur = conn.cursor()
cur.execute(create_table_query)

# 변경사항 커밋
conn.commit()

# 연결 해제
cur.close()
conn.close()

engine = create_engine('postgresql://postgres:1234@192.168.0.39:5432/postgres')
ticker.to_sql('ticker', engine, if_exists='append', index=False)

598

In [130]:
ticker.values[100]

array(['014710'], dtype=object)

In [133]:
# url = f'https://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{ticker_list[1000]}'
url = f'https://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{ticker.values[150]}&cID=&MenuYn=N&ReportGB=D&NewMenuID=103&stkGb=701'

data = pd.read_html(url)

In [134]:
print(pd.DataFrame(data[0]).columns.tolist()) # 연간기준 포괄손익계산서 (전년동기, 전년동기% (필요없는부분))
print(pd.DataFrame(data[2]).columns.tolist()) # 연간 기준 재무상태표
print(pd.DataFrame(data[4]).columns.tolist()) # 연간 기준 현금흐름표

['IFRS(연결)', '2020/12', '2021/12', '2022/12', '2023/03', '전년동기', '전년동기(%)']
['IFRS(연결)', '2020/12', '2021/12', '2022/12', '2023/03']
['IFRS(연결)', '2020/12', '2021/12', '2022/12', '2023/03']

In [135]:
data[0].iloc[:,~data[0].columns.str.contains('전년동기')] # 전년동기 부분 제외

,IFRS(연결),2020/12,2021/12,2022/12,2023/03
0,매출액,2368070.0,2796048.0,3022314.0,637454.0
1,매출원가,1444883.0,1664113.0,1900418.0,460071.0
2,매출총이익,923187.0,1131935.0,1121896.0,177383.0
3,판매비와관리비계산에 참여한 계정 펼치기,563248.0,615596.0,688130.0,170981.0
4,영업이익,359939.0,516339.0,433766.0,6402.0
5,영업이익(발표기준),359939.0,516339.0,433766.0,6402.0
6,금융수익계산에 참여한 계정 펼치기,122676.0,85432.0,208290.0,46280.0
7,금융원가계산에 참여한 계정 펼치기,113181.0,77046.0,190277.0,39560.0
8,기타수익계산에 참여한 계정 펼치기,13841.0,22057.0,19621.0,5043.0
9,기타비용계산에 참여한 계정 펼치기,24889.0,20560.0,17902.0,2040.0
10,"종속기업,공동지배기업및관계기업관련손익계산에 참여한 계정 펼치기",5065.0,7296.0,10906.0,2138.0
11,세전계속사업이익,363451.0,533518.0,464405.0,18264.0
12,법인세비용,99373.0,134444.0,-92136.0,2518.0
13,계속영업이익,264078.0,399075.0,556541.0,15746.0
14,중단영업이익,NaN,NaN,NaN,NaN
15,당기순이익,264078.0,399075.0,556541.0,15746.0
16,지배주주순이익,260908.0,392438.0,547300.0,14013.0
17,비지배주주순이익,3170.0,6637.0,9241.0,1733.0

In [ ]:
# 전년동기 제외 
data_fs_y = pd.concat([data[0].iloc[:,~data[0].columns.str.contains('전년동기')],data[2],data[4]])
data_fs_y

           IFRS(개별)  2020/03  2021/03  2022/03  2022/12
0             순이자손익      6.0     27.0     -1.0     18.0
1            순수수료손익    410.0    515.0    604.0    335.0
2          금융상품관련손익    179.0    182.0    266.0    -20.0
3    위험회피회계파생상품관련손익    -35.0     12.0      4.0     46.0
4      외환거래(환율변동)손익      1.0     -2.0      0.0     -0.0
..              ...      ...      ...      ...      ...
17  연결범위변동으로인한현금의증가      NaN      NaN      NaN      NaN
18           환율변동효과      1.0      NaN      NaN      NaN
19      현금및현금성자산의증가     60.0     77.0     77.0   -303.0
20       기초현금및현금성자산    325.0    385.0    462.0    539.0
21       기말현금및현금성자산    385.0    462.0    539.0    236.0

[88 rows x 5 columns]